{% extends 'base.html' %}

{% block css %}
{% load static %}
<link href="{% static 'css/content.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 200px; background-color: rgba(31, 31, 31, 0.57); border-radius: 45px;">
	<div class="content" style="width: 100%; margin: 15px; padding: 15px">
		<div class="title">
			<h2 class="title" style="margin-bottom: 30px;">Начало истории развития отечественной космонавтики</h2>
		</div>
		<div class="row">
			<div class="col">
			  <img src="{% static 'img/earth.png' %}" style="border-radius: 40px; border: 3px solid #616161;"/>
			</div>
			<div class="col" style="text-align: center;">
			  <div>
				<h4 style="color: white;">
					Российским учёным принадлежит огромная заслуга в освоении космоса. Развитие отечественной космонавтики значительно повлияло на укрепление международного авторитета государства. В настоящее время наша страна является одним из лидеров научно-технического прогресса благодаря постоянному внедрению технологий ракетно-космической отрасли. Достижения СССР, Российской Федерации в космической отрасли впечатления. Наши иностранные коллеги давно признали большие заслуги России в области.<br>
Первые планы о полете в дальнее пространство и их постепенная реализация началась в XIX веке. Тогда ученые пришли к выводу, что при определенной устойчивой скорости летательный аппарат может не только преодолеть гравитацию, но и вылететь за атмосферу Земли. <br>
Однако обеспечить такую скорость полета существующие в то время двигатели не могли. Двигатели со слабой мощностью не достигали нужной скорости, а сильные выбрасывали энергию рывками. Такой объект не только не мог лететь по назначению, но и также невозможно было контролировать траекторию его движения. <br>
При вертикальном запуске летательный аппарат закруглял свой вектор движения и клонился обратно на землю задолго до предполагаемого выхода в космическое пространство. О горизонтальном запуске, конечно же, речи и не шло, иначе можно было уничтожить все живое в радиусе запуска. <br>
Начало XX века стало знаковым периодом для реализации полета в космос. В космической промышленности начали создавать опытные ракетные двигатели, работающие на жидком топливе. При помощи такого двигателя удалось облегчить массу ракеты, а также ракета должна была двигаться вперед за счет выделяемой энергии. Первая ракета для полета в космическое пространство была спроектирована в 1903 г. Ее проектировщиком стал известный изобретатель Константин Циолковский.
Первый практический шаг к воплощению проекта Циолковского в реальность - создание экспериментальной советской ракеты на гибридном топливе ГИРД-09. Ее характеристики были намного слабее, чем у современных ракет, но результаты эксперимента, проведенного в 1933 году, на то время были впечатляющими. <br>
Долгие годы Циолковский также изучал теоретическую сторону нахождения человека в космическом невесомом пространстве. В его работах были перечислены способы передвижения в невесомости, ее воздействие и влияние на любой живой организм. Изобретатель точно описывал, какой должна быть форма космического корабля. <br>
Все его описания впоследствии подтвердит первый человек, полетевший в космос - Юрий Гагарин. Свои ощущения он описывал в точности как те, о которых писал в своих работах Константин Циолковский.<br>

				</h4>
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}