{% extends 'base.html' %}

{% block css %}
{% load static %}
<link href="{% static 'css/content.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 200px; background-color: rgba(31, 31, 31, 0.57); border-radius: 45px;">
	<div class="content" style="width: 100%; margin: 15px; padding: 15px">
		<div class="title" style="margin-bottom: 30px">
			<h2 class="title">Самые известные космонавты России и СССР</h2>
		</div>
		<div class="row">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/kaleri.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">10. Александр Калери ( 769 суток, 6 часов, 33 минуты в космосе)</h2>
                    <h4 style="color: white;">Александр Калери окончил факультет космических исследований и астрофизики в 1979 году, спустя 4 года после окончания гонки.Тогда же он начал работать в команде, занимавшейся орбитальной космической станцией «Мир». В космонавты он подался только через 3 года, став участником 7-го набора.
                    Он получил должность летчика-испытателя, а первый полет к звездам совершил в 1992 году на «Союз ТМ-14», который отправился на «Мир». Тогда же он впервые вышел в открытый космос, проведя в общей сложности вне Земли 145 дней.
                    В дальнейшем Калери садился в корабль еще 4 раза, совершив последний полет в октябре 2010 года в качестве командира экипажа (вернулся в марте 2011, полет длился 159 дней).
                    В общей сложности продолжительность его экспедиций составляет 759 суток (5-й результат в истории), за что он был неоднократно награжден не только в России, но и NASA
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/Valery_Polyakov.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">9. Валерий Поляков ( 678 суток, 16 часов, 34 минуты в космосе)</h2>
                    <h4 style="color: white;">Советский (а после – российский) космонавт Валерий Поляков провел в космосе 678 дней и по этому показателю идет следом за Калери (хотя 4,5 года он был абсолютным рекордсменом).
                    Разница в том, что Поляков совершил всего 2 орбитальных полета: на 240 и 437 суток. Уже после первого он получил звание Героя Советского Союза, Орден почетного легиона во Франции и массу других наград. Второй и вовсе стал рекордным: дольше Валерия Полякова в космосе не находился никто. Это достижение принесло ему звание Героя России и навсегда вписало в историю.
                    Несмотря на то, что он по профессии врач (он был медиком и на ОК «Мир»), тяга к звездам всегда преобладала: некоторые лично знакомые с ним люди утверждают, что он был готов даже отправиться на Марс с билетом в один конец, то есть совершить безвозвратный полет.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/260px-Sergei_Krikalev.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">8. Сергей Крикалев ( 803 суток, 9 часов, 38 минут в космосе)</h2>
                    <h4 style="color: white;">«Союз ТМ-7» стартовал с первой площадки Байконура 26 ноября 1988 года, унося на борту троих советских и одного французского космонавта. Сергей Крикалев был бортинженером той команды и вместе с ней вернулся через 151 день, получив по прибытию звание Героя СССР.
                    Слетав в космос еще 5 раз, он с результатом 803 дня в космосе был рекордсменом до 2015 года (сейчас 2-й).
                    Наиболее интересным вышел второй полет, начавшийся в 1990 году. Проведя на станции «Мир» почти 312 дней, Крикалев вернулся домой в марте 1992 года. Это значит, что улетал он из Советского Союза, а вернулся уже в Россию, сразу же получив еще один орден Героя, российский.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/250px-Yelena_Kondakova.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">7. Елена Кондакова ( 178 суток, 10 часов, 41 минута в космосе)</h2>
                    <h4 style="color: white;">В первый раз Елена Кондакова полетела в космос 4 октября 1994 года на «Союзе ТМ-20», проведя там в общей сложности 5 месяцев.
                    Через 2 года после возвращения, Кондакова стала членом экипажа американского корабля «Атлантис» во время 6-й стыковки с ОК «Мир».
                    Она стала третьей женщиной-космонавтом СССР и России, но уже в 1999 году решила уйти из профессии и заняться политикой. Ее избрали в Госдуму, депутатом которой она была по 2003 год от партии «Единая Россия» (вышла из нее в 2011-м).
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/500px-ISS_Expedition_9_crew.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">6. Геннадий Падалка ( 878 суток, 11 часов, 29 минут в космосе)</h2>
                    <h4 style="color: white;">878 суток – именно столько Геннадий Падалка пробыл в космосе. Он является абсолютным рекордсменом в этом показателе, добившись этого за 5 полетов.
                    Началось все с корабля «Союз ТМ-28», на котором Падалка стартовал с Земли в качестве командира экипажа. Последний его полет состоялся в 2015 году: во время него Геннадий не только установил свой рекорд, но и совершил юбилейный 10-й выход в открытый космос, пробыв там пять с половиной часов.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/Titov.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">5. Герман Титов( 1 сутки, 1 час, 18 минут в космосе)</h2>
                    <h4 style="color: white;">Герман Титов был непосредственным участником космической гонки и мог даже стать первым человеком в космосе, так как являлся дублером Юрия Гагарина. Впрочем, достижений у него и без этого хватает:
                    •	 Самый молодой космонавт в истории (в августе 1961 года во время полета на «Восходе-2» ему было 25 лет и 330 дней).
                    •	Первый человек, совершивший длительный полет (на корабле «Восход-2» провел в космосе больше суток).
                    •	Второй советский космонавт.
                    •	Второй человек в истории, совершивший суборбитальный полет.
                    •	Герой Советского Союза.
                    Всего этого он достиг за один полет, так как по возвращении на Землю стал инструктором.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/Solovyev_1.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">4. Анатолий Соловьев( 651 сутки, 3 минуты в космосе)</h2>
                    <h4 style="color: white;">Анатолий Соловьев за свои 5 экспедиций налетал 651 день, целых 16 раз выходя в открытый космос.
                    Всего вне станции он провел почти 79 часов, что до сих пор является мировым рекордом, хотя последний раз он надевал скафандр в 1997 году (вернулся в 1998-м). В том полете он был командиром ОК «Мир», находясь в статусе Героя СССР.
                    Также Анатолий Соловьев опытный летчик: на его счету более полутора тысяч часов за штурвалом, полторы сотни прыжков с парашютом, и умение управлять 14-ю типами самолётов.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/Leonov.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">3. Алексей Леонов (7 суток, 32 минуты в космосе)</h2>
                    <h4 style="color: white;">Карьера космонавта пришлась на самые жаркие годы противостояния Советов и США, когда никто еще не выходил в открытый космос и не был на Луне.
                    С первой задачей Алексей Леонов успешно справился 18 марта 1965 года, проведя за пределами корабля «Восход-2» 12 минут и 9 секунд.
                    Он мог стать еще и первым человеком на Луне, однако программа была отменена и первым стал американец Нил Армстронг.
                    Второй полет Леонов совершил через 10 лет, командуя экипажем «Союза-19», который летел по программе «ЭПАС» (Экспериментальный Полет «Аполлон» – «Союз»). Проведя в космосе почти 6 дней, команда нашего корабля выполнила стыковку с американским, что произошло впервые (до этого корабли разных стран никогда не стыковались).
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/valentina-tereskovova.jpg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">2. Валентина Терешкова ( 2 суток, 22 часа, 51 минута в космосе)</h2>
                    <h4 style="color: white;">После ряда успешных проектов, особенно полета Гагарина, руководство СССР хотело еще как-то «щелкнуть по носу» Америку, поэтому задумало отправить в космос женщину.
                    Валентина Терешкова стала 6-м космонавтом Союза и 10-м в истории, а также до сих пор остается единственной представительницей слабого пола, летевшей в одиночку.
                    Любопытный факт: по результатам медкомиссии и общей подготовки Терешкова была худшей из 5-и отобранных кандидаток. Выбрали ее по политическим причинам: она была из простой рабочей семьи и к тому же умела выступать перед публикой, выставляя в выгодном свете советский строй.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
			<div class="col" style="text-align: center;">
			  <img src="{% static 'img/gagarin.jpeg' %}" style="border-radius: 40px; border: 3px solid #616161; width: 70%;"/>
			</div>
			<div class="col" style="text-align: center;">
			    <div>
                    <h2 style="color: white;">1. Юрий Гагарин  (1 час, 48 минут в космосе)</h2>
                    <h4 style="color: white;">Самый известный космонавт на всем постсоветском пространстве, ставший первым человеком в мировой истории, кто полетел в космос.
                    На корабле «Восход-1» Юрий Гагарин пробыл там 108 минут 12 апреля 1961 года. Начиная с 1962 этот день стал праздником: Днем космонавтики.
                    После возвращения он стал звездой не только всесоюзного, но и всемирного масштаба: он посетил свыше 30 стран, где его встречали как настоящего героя.
                    Если бы не преждевременная гибель во время тренировочного полета на самолете, он мог бы еще неоднократно вписать своё имя в историю.
    				</h4>
			    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}