{% extends 'base.html' %}

{% block css %}
{% load static %}
<link href="{% static 'css/content.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 200px; background-color: rgba(31, 31, 31, 0.57); border-radius: 45px;">
	<div class="content" style="width: 100%; margin: 15px; padding: 15px">
		<div class="title" style="margin-bottom: 30px">
			<h2 class="title">Главные космические победы России и СССР</h2>
		</div>
		<div class="row">
			<div class="col" style="text-align: center;">
                <h2 style="color: white;">1.Искусственный спутник Земли</h2>
                <h4 style="color: white;">По сей день дата запуска «Спутника-1», 4 октября, является
                                            началом космической эры человечества. Имя аппарата стало
                                            нарицательным, используясь сегодня во многих языках мира.
                                            Запуск «ПС-1» («Простейший Спутник-1») осуществлялся с 5-го
                                            научно-исследовательского полигона Министерства обороны СССР
                                            «Тюра-Там», которому суждено было получить название
                                            «Байконур» в далеком будущем.
                                            Ракета-носитель «Спутник» на базе межконтинентальной
                                            баллистической ракеты «Р-7» стала самой известной в истории,
                                            отправив в космос множество аппаратов, включая «Восток-1»
                                            с Гагариным на борту. Но это было после. А в 1957 радиолюбители
                                            всего мира слушали позывные аппарата с помощью обычной
                                            радиолюбительской аппаратуры на расстоянии до 2–3 тысяч
                                            километров.
                                            Вопреки общепринятому мнению, «Спутник» не был доступен для
                                            наблюдения невооружённым глазом, но его вторая ступень
                                            отлично просматривалась в темное время суток наравне
                                            со звездами.
                </h4>
                <h2 style="color: white;">2.Человек в космосе</h2>
                <h4 style="color: white;">Уже 3 ноября 1957 Советский Союз запустил первый спутник
с живым существом на борту. Им стала знаменитая собака Лайка,
погибшая через несколько часов после старта.
Уже 12 апреля 1961 года в 09:07 по московскому времени
(06:07 UTC) с космодрома Байконур стартовала ракета-носитель
«Восток» с кораблём «Восток-1», на борту которого находился
Юрий Гагарин, ставший первым человеком в мировой истории,
совершившим полёт в космическое пространство.
На орбите Гагарин сообщал о своих ощущениях, состоянии корабля
и наблюдениях, записывая их на магнитофон. Гагарин также провёл
простейшие эксперименты: пил, ел, делал записи карандашом.
Выполнив один оборот вокруг Земли, после 108 минут полёта
Гагарин успешно приземлился в Саратовской области, неподалёку
от Энгельса.
Гагарин стал ещё одним человеком, который изменил мир: посетив
30 стран в роли посла мира, он стал самым известным русским
за всю историю.
На этом советские достижения, связанные с «человеческим»
космосом, не закончились. Космический корабль «Восход-1»
совершил полёт длительностью 24 ч 17 мин, стартовав 12 октября
1964 года с тремя членами экипажа без защитных скафандров.</h4>
                <h2 style="color: white;">3. Выход человека в открытый космос</h2>
                <h4 style="color: white;">Рекорды советской космонавтики не ограничивались
пилотируемыми полетами: Алексей Леонов 18 марта 1965 года
стал первым человеком, вышедшим в открытый космос в полёте
корабля «Восход-2».
Сразу после выхода на орбиту, была надута шлюзовая камера,
которая послужила переходом в открытый космос, совершенным
Леоновым. Системами корабля и собственно выходом руководил
первый пилот Павел Беляев.
В свободном полёте Леонов находился 12 минут и 9 секунд.
Возвращение в шлюзовую камеру было осложнено тем, что из-за
большой разности давлений снаружи и внутри скафандра
требовались большие усилия для сгибания оболочки скафандра,
который к тому же несколько раздулся.
Полет стал первым в истории человечества, проходящим
в нештатном режиме: едва попав в корабль, Леонов чуть не погиб
от разгерметизации, а следом скакнувшее давление в корабле
создало угрозу взрыва.
Следом космонавты столкнулись с неверной стабилизацией полета
при отстреле возвращаемой части аппарата и сели в глухом лесу
под Пермью, проведя общей сложностью 2 суток в дикой природе
до того как спасатели смогли добраться до команды.
Именно после этой ситуации космонавтика получила современный
вид спасательных аппаратов и столь серьезную наземную службу.</h4>
                <h2 style="color: white;">4. Облет Луны</h2>
                <h4 style="color: white;">Увы, космический аппарат пролетел в 6000 километрах от лунной
поверхности. Однако яркий след, сформированный натриевым
газом, позволил отследить орбитальный полет астрономам всего
мира.
Примитивность конструкции не позволила достичь каких-либо
дополнительных результатов, поэтому спустя 3 суток не имеющий
двигателя аппарат перестал передавать сигнал и рекорд быстро
забылся.
Тем не менее, Советский Союз не оставлял попыток освоить Луну.
Но забыта оказалась даже вернувшаяся на Землю после облета
спутника Земли экспедиция аппарата «Зонт-5» с живыми
существами на борту, стартовавшая 15 сентября 1968 года.</h4>
                <h2 style="color: white;">5. Съемка темной стороны Луны</h2>
                <h4 style="color: white;">В 1959 году, 14 сентября, СССР все же удалась жёсткая посадка
на внеземное тело, выполненная аппаратом «Луна-2».
К сожалению, станция была разбита и никаких данных, кроме
полетных, получить не удалось.
Первым успешным полетом к Луне в истории человеческой
космонавтики стал запуск 4 октября 1959 года зонда «Луна-3».
Он же позволил впервые получить снимки дальней стороны
земного спутника.
Для этих целей аппарат получил сложную аналоговую камеру,
которая сделала 40 фотографий. Из них только 17 удалось
отправить на Землю.
Не имея в наличии более продвинутых Луна всегда была целью
номер один в мировой космонавтике. Полеты «Апполонов»
на долгие годы стали предметом споров — были ли американцы
на спутнике Земли.
Хотя пилотируемый полет СССР осуществить не смог, первые
достижения именно на этой стороне: спустя 4 неудачных попытки,
запущенный 2 января 1959 года космический аппарат «Луна-1»
достиг окрестностей Луны.
Агитационный полет должен был завершиться ударом о спутник
для того, чтобы оставить на его поверхности различные
металлические эмблемы, включая советский герб.
технологий, советским инженерам пришлось реализовать весь
процесс: на борту происходила негативная съемка, изготовление
фотоснимков, корректировка и даже сушка.
Для «сканирования» использовалась электронно-лучевая трубка,
для трансляции — обычный радиопередатчик.
Тем не менее, результаты полета стали революционными,
позволив открыть горы и темные регионы Луны.</h4>
                <h2 style="color: white;">6. Освоение орбиты и поверхности Луны</h2>
                <h4 style="color: white;">К высадке человека на Луну русские ученые готовились не меньше,
чем их американские коллеги, несмотря на трудности
с ракетоносителями и электронными системами.
Именно им удалась первая мягкая посадка на внеземное тело,
которую 3 февраля 1966 года выполнил аппарат «Луна-9». Уже
3 апреля 1966 года на орбиту вышел искусственный спутник Луны
«Луна-10».
Фактическим завершением рекордных «завоеваний» желанного
спутника стала высадка первого в истории планетохода «Луноход-
1», приступившего к работе 17 ноября 1970 года.
Он проработал на Луне одиннадцать лунных дней (10,5 земных
месяцев) до 14 сентября 1971 года, проехав за это время
10 540 метров.
«Луноход-1» передал на Землю 211 лунных панорам, 25 тысяч
фотографий, позволил определить с помощью лазера точное
расстояние до спутника и проанализировал 25 проб грунта.</h4>
                <h2 style="color: white;">7. Полеты на Венеру</h2>
                <h4 style="color: white;">По всей видимости, Венера была более благосклонна к советским
ученым, нежели Луна.
Так, запущенный 12 февраля 1961 года советский зонд «Венера-1»
(является вторым советским аппаратом в этот адрес) отправился
в миссию умышленного столкновения с Венерой.
Сбой в работе систем во время полета привели к неуправляемому
дрейфу аппарата, из-за чего, удалившись на 2 миллионов
километров от Земли, зондом была потеряна связь и он пролетел
мимо.
«Венера-4» в октябре 1967 года доставила на Венеру сферический
спускаемый аппарат, который в течение 94 минут с помощью
парашютной системы опускался на ночной стороне планеты.
Это позволило уточнить множество данных о второй планете
Солнечной системы и разработать несколько поколений аппаратов
для её исследования.
Тем не менее, 17 августа 1970 года один из множества аппаратов
серии «Венера-7», отправился к далекой планете и смог
осуществить первое успешное приземление на другой планете.
Для работы в условиях раскаленной атмосферы, аппарат был
охлажден до −8 градусов по Цельсию.
Таким образом, вопреки отказу парашюта для спуска, зонд
передавал данные с поверхности Венеры в течение 23 минут после
посадки.
Таким образом была совершена первая передача данных с другой
планеты, успешно повторенная уже с дневной стороны планеты
в 1972 с помощью ещё одного советского комплекса «Венера-8».</h4>
                <h2 style="color: white;">8. Орбитальный радиотелескоп</h2>
                <h4 style="color: white;">Орбитальная станция «Салют-6» была создана для продолжения
научно-исследовательских и военных работ в космосе, которые
были начаты на предыдущих станциях серии «Салют».
Запуск собственно станции состоялся 29 сентября 1977 года.
Суммарно она провела на орбите 1764 дня, из которых 683 была
обитаема членами 5 основных и 11 экспедиций посещения.
А в 1979 году на ней развернули антенну первого в мире
космического радиотелескопа КРТ-10, доставленного грузовым
космическим кораблём «Прогресс-7».
В течении июля был осуществлен монтаж антенны, проведена
её юстировка и снятие диаграммы направленности и уже 24 июля
начался цикл астрофизических и географических исследований.
Астрофизические исследования включали наблюдения пульсара
PSR 0329 + 054 и обзор участка Млечного Пути, позволившие почти
на 10 лет раньше «Хаббла» получить уникальные снимки
отдаленных участков космоса и провести колоссальное количество
исследований.</h4>
                <h2 style="color: white;">9. Успешная высадка на Марс</h2>

                <h4 style="color: white;">Одновременно с венерианской программой, Советы
разрабатывали комплексную программу по достижению
и исследованию Марса.
Первым достижением в ней стал выход на орбиту четвёртой
планеты Солнечной системы аппаратов-близнецов «Марс-2»
и «Марс-3», запущенных почти одновременно в мае 1971 года.
Оба космических аппарата были предназначены для орбитального
картографирования и кроме того, несли спускаемые посадочные
модули.
Посадочный модуль «Марс-2» разбился, «Марс-3» успешно
приземлился и начал передачу данных. К сожалению, пылевая
буря на поверхности прекратила передачу спустя 20 секунд.
Это не помешало получить подробные снимки поверхности
планеты с орбиты и стать им первыми аппаратами, достигшими
Красной планеты.</h4>
                <h2 style="color: white;">10. Стыковка «на автомате» и контакт
с «мертвой» станцией кораблями
и орбитальными станциями.</h2>
                <h4 style="color: white;">Впервые тему научной фантастики удалось воплотить в жизнь
30 октября 1967 года, когда корабли «Космос-186» и «Космос-188»
состыковались друг с другом в полностью автоматическом режиме.
В будущем человечеству придется не раз столкнуться
с космическим мусором, в том числе с брошенными «Космос-186»
был запущен 27 октября 1967 года, за ним вдогонку отправили
«Космос-188» таким образом, чтобы расстояние между ними
не превышало 24 километра во время выхода на орбиту второго
аппарата.
«Активный» «Космос-188» смог запеленговать, приблизиться
и состыковаться с ранее выпущенным кораблем, объединив
системы.
Впоследствии подобная операция происходила не раз. Полученный
опыт пригодился и при восстановлении поврежденной
космической станции «Салют-7», после полугодового отсутствия
на станции людей оставшейся на орбите в состоянии
радиомолчания 11 февраля 1985 года.
В попытке спасти станцию, Советский Союз отправил двух
ветеранов космонавтики для ремонта «Салюта-7».
Автоматизированная система стыковки не работала, поэтому
космонавтам нужно было подойти достаточно близко, чтобы
осуществить ручную стыковку.
Космонавты смогли пристыковаться, впервые продемонстрировав
возможность стыковки с любым объектом в космосе, даже
с мертвым и неконтактным.
К 16 июня космонавтам удалось прогреть и восстановить
работоспособность станции, а 23 июня к ней в автоматическом
режиме пристыковался «Прогресс-24» с запасом воды
и материалами для дальнейших восстановительных работ.</h4>
			  <h2 style="color: white;">11. Автоматический сбор образцов</h2>
                <h4 style="color: white;">Советский Союз, не сумев первым высадить людей на Луну, был
полон решимости обогнать американцев с помощью
автоматизированного космического зонда для сбора лунного
грунта и доставки его на Землю.
Первый советский зонд «Луна-15» разбился при посадке,
последующие попытки провалились из-за проблем
с ракетоносителями. Только шестой по счету советский зонд «Луна-
16» был успешно запущен.
После посадки советская станция взяла пробы лунного грунта
вблизи моря Изобилия и поместила их в возвращаемый аппарат,
который вернулся с образцами на Землю 24 сентября 1970 года.
Таким образом ученым удалось получить 101 грамм лунного грунта
(против 22 килограмма, доставленных на «Apollo-11» во время
пилотируемого полета НАСА).
Однако, малый объем материалов и их относительная схожесть
была не главным достижением: это было первое успешное
возвращение автоматического спускаемого аппарата.</h4>
                <h2 style="color: white;">12. Орбитальная и многомодульная станции</h2>
                <h4 style="color: white;">Уже упомянутые «Салюты» на самом деле произвели настоящую
революцию в космонавтике и исследовании космоса как таковом,
ведь аппарат «Салют-1», запущенный 19 апреля 1971 года, стал
первой орбитальной станцией Земли.
Проект проводился до 11 октября 1971 года, в результате чего
аппарат пробыл на орбите 175 суток, доказав принципиальную
возможность долговременного управляемого полета вокруг
планеты.
К ней дважды летал экипаж с Земли. «Союз-10» не смог
осуществить стыковку, поэтому экспедиция была признана
неуспешной. Экипаж «Союза-11», несмотря на ряд внештатных
ситуаций, смог провести стыковку и ряд необходимых
экспериментов.
Всего по программе гражданских пилотируемых станций
«Долговременная орбитальная станция» (ДОС) было запущено
7 «Салютов» и «Космос-557»
Имя сменилось только 20 февраля 1986 года, когда на орбиту был
выведен базовый блок первой в истории многомодульной
орбитальной станции «Мир», ставшая абсолютным символом
космической эпохи и своеобразным закатом СССР. Станция была
обитаема с 13 марта 1986 года по 16 июня 2000 года, суммарно
проведя в космосе 5511 суток (из них 4594 дней с экипажем
на борту), совершив 86 331 оборот вокруг планеты. За время
существования станции на ней было проведено более
23000 экспериментов. На станции побывали 104 космонавта
из 12 стран в составе 28 экспедиций, среди которых 29 космонавтов
и 6 астронавтов осуществили выход в открытый космос.</h4>
			</div>
		</div>
	</div>
</div>
{% endblock %}